.App{
  border: 0;
  top: 0;
}
.container{
  display: flex;
  justify-content: space-around;
  background-color: rgb(207, 230, 230);

}
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}



@media only screen and (max-width:1023px) and (min-width: 768px) {
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (min-width:1024px) {
  .card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  
}
@media screen and (max-width:767px) {
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
}